@charset "utf-8";
/* CSS Document */

*{margin:0; pading:0;}
header{
	width: 100%;
	height: 750px;
	background-color: green;
	position: relative;
	overflow: hidden;
}
header img{
	width: 100%;
	height: 100%;
	position: relative;
}
header #head{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
}

#head #icon{
	width: 5%;
	height: 50px;
	//background-color: #fff;
	margin-left: 3%;
	margin-top:1.5%; 
	float: left;
}

header #head #icon .fa{
	font-size: 40px;
	margin-left: 8%;
	margin-top: 2%;
	cursor: pointer;
	color: #fff;

}
#head #logo{
	width: 25%;
	height: 100px;
	//background-color: gray;
	float: left;
}
#head #logo h1{
	font-size: 48px;
	font-style: italic;
	font-weight: bold;
	float: left;
	padding-top: 4%;
	padding-right:3%; 
	color: #fff;
}
#head #logo p{
	font-size: 40px;
	font-family:tahoma;
	padding-top: 5%;
	color: #fff;
}

#head #axtar{
	width: 20%;
	height: 70px;
	//background-color: grey;
	float: right;
	margin-top: 1.5%;
	margin-right: 3%;
	overflow: hidden;
}

#head #axtar input{
   width: 80%;
   height: 40px;
   float: left;
   padding-left: 3%;
}
#head #axtar button{
	float: right;
	background-color: tomato;
	border: none;
	margin-right:3%; 
	cursor: pointer;
}
#head #axtar button .fa{

	font-size: 38px;
	color: #fff;
	

}

menu.fa{
	font-size: 40px;
	margin-left: 8%;
	margin-top: 2%;
}


header #head #menu{
	width: 40%;
	height: 100px;
	//background-color: grey;
	margin-left: 25%;
	margin-top: -1%;
}
#menu ul{
	list-style-type: none;
	padding-top: 13%;


	
}
 #menu ul li{
	float: left;
	margin-right: 5%;
	//background-color: green;
	//padding-top: 5%;
	cursor: pointer;
}

#menu ul li .fa{

	margin-top: -2%;
	font-size: 20px;
	position: absolute;
	margin-left: 0.5%;
	color: #fff;
	
}
#menu ul li #service .fa{
	margin-left: 1.5%;
}

#menu ul li #about .fa{
	margin-left: 1%;
}
#menu ul li #galleryy .fa{
	margin-left: 1%;
}
#menu ul li #contact .fa{
	margin-left: 1.3%;
}
#menu ul li:hover .fa{
 	color: #000;
}

 #menu ul li a{
	text-decoration: none;
	color: #fff;
	font-family: tahoma;
	font-size: 14px;
	
}
#menu ul li:hover a{
	color: #000;
	
}

 #our{
	width: 40%;
	height: 350px;
	background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
     margin-top: 14%;
     margin-left: 30%;


}
#our h3{
	color: #fff;
	font-size: 34px;
	font-style: italic;
	text-align: center;
	margin-top: 5%;
}
#our h1{
	font-size: 38px;
	color: #fff;
	margin-top: 5%;
	margin-left:5%;
	line-height: 185%; 
}
#our button{
	border: 2px solid #000;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: tomato;
	transition-duration: 0.4s;
	margin-left:5%; 
	margin-top: 4%;
	color: #fff;
	cursor: pointer;
}
#our button:hover{
	background-color:  #80ff00;
	//border: none;
}
#wellcome{
	width: 100%;
	height:600px;
	//background-color: #b3b3cb;
}
#well{
	width: 80%;
	height:600px;
	//background-color: #ffbb33;
	margin: 0 auto;
}
#well h1{
	text-align: center;
	font-size: 48px;
	font-style: italic;
	padding-top: 7%;
}	
#wellfoto{
	width: 45%;
	height: 350px;
	//background-color: red;
	float: left;
	margin-top: 5%;
}
#metn{
	width: 50%;
	height:350px;
	//background-color:  #ffeecc;
	float: left;
	float: right;
	margin-top: 5%;
}
#wellfoto img{
	width: 100%;
	height: 100%;
}
#metn h1{
	font-style: normal;
	text-align: left;
	color: tomato;
	font-size: 38px;
	margin-top: -7%;

}
#metn p{
	font-size: 20px;
	line-height: 170%;
	padding-top: 4%;
	padding-bottom: 4%;
	color: #595959;
	font-family: tahoma;
}
#metn span{
	font-size: 18px;
	line-height: 160%;
	padding-top: 25%;
	color: #737373;
	font-family: tahoma;
}
#metn span .fa{
	color: #99ff33;
	padding-right: 2%;
}
#servicee{
	width: 100%;
	height:500px;
	//background-color: gold;
	//position: absolute;
	overflow: hidden;
}
 #red{
	width: 80%;
	height: 500px;
	//background-color: gold;
	margin: 0 auto;
	//position: absolute;
	overflow: hidden;
}
#red h1{
	text-align: center;
	font-size: 38px;
	font-family: tahoma;
	font-style: italic;
	color: #fff;
 	padding-top: 5%;
}
#red .box{
	width: 24%;
	height: 250px;
    background-color: rgba(0,0,0,0.5);
    float: left;
    margin-top: 7%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
   

}
#red .box h1{
	font-style: italic;
	font-size: 24px;
	text-align: center;
	color: tomato;
	padding-top: 15%;
}
#red .box p{
	color: #fff;
	font-family: tahoma;
	font-size: 18px;
	text-align: center;
	padding-top: 8%;
	line-height: 200%;

}
#red .box .mask{
	width: 100%;
	height: 100%;
    background-color: #66cc00;    
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 1;
    transition:all 0.4s ease-in-out;
    transform:translateY(0px);
}
#red .box:hover .mask{
	//opacity: 0;
	transform:translateY(250px);
}
.mask .fa{
	font-size: 58px;
	color: #fff;
	margin-left: 38%;
	margin-top: 23%;
}
#test{
	width: 80%;
	height: 600px;
	//background-color: grey;
	margin: 0 auto;
}
#test h1{
	color: #000;
	font-size: 48px;
	font-style: italic;
	text-align: center;
	padding-top: 5%;
}
#test #testfoto{
	width: 55%;
	height: 400px;
	background-color: gold;
	float: left;
	margin-top: 5%;

}
#testfoto img{
	width: 100%;
	height: 100%;
}
#test #testword{
	width: 40%;
	height:350px;
	//background-color: pink;
	float: right;
	margin-top: 7%;

}
#testword h1{
	color: tomato;
	font-size: 28px;
	font-style: italic;
	text-align: left;
	padding-bottom: 5%;
}
#testword span{
	font-family: tahoma;
	font-size: 24px;
	color: lightgreen;
	padding-left: 8%;

}
#testword p{
	font-size: 22px;
	color: grey;
	font-family: tahoma;
	line-height: 40px;
	padding-left: 8%;
}
#testword #xett{
	width: 20%;
	height: 30px;
	//background-color: blue;
	margin-top:5%;
}
#xett hr{
	border: 1px solid red;
	}
#testword button{
	padding: 2.5%;
	padding-left: 4%;
	padding-right: 4%;
	color: #fff;
	background-color: #000;
	border: none;
	cursor: pointer;
	transition-duration:0.7s;
}

#testword button:hover{
    background-color: #66ff33;	
}
#test2{
	width: 80%;
	height: 450px;
	//background-color: grey;
	margin: 0 auto;
	//margin-top: 2%;
}
#test2 #testfoto2{
	width: 55%;
	height: 400px;
	//background-color: gold;
	float: right;
	margin-top: 3%;
}
#test2 #testword2{
	width: 40%;
	height:300px;
	//background-color: pink;
	float: left;
	margin-top: 8%;

}
#testfoto2 img{
	width: 100%;
	height: 100%;
}
#testword2 h1{
	color: tomato;
	font-size: 28px;
	font-style: italic;
	text-align: right;
	padding-bottom: 5%;
}
#testword2 span{
	font-family: tahoma;
	font-size: 24px;
	color: lightgreen;
	padding-left: 55%;
	

}
#testword2 p{
	font-size: 22px;
	color: grey;
	font-family: tahoma;
	line-height: 40px;
	padding-left: 8%;
}
#testword2 #xett2{
	width: 20%;
	height: 30px;
	//background-color: blue;
	margin-top:5%;
	margin-left: 80%;
}
#xett2 hr{
	border: 1px solid red;
	}
#testword2 button{
	padding: 2.5%;
	padding-left: 4%;
	padding-right: 4%;
	color: #fff;
	background-color: #000;
	border: none;
	cursor: pointer;
	transition-duration:0.7s;
	float: right;
}

#testword2 button:hover{
    background-color: #66ff33;	
}
#test3{
	width: 80%;
	height: 485px;
	//background-color: grey;
	margin: 0 auto;
	margin-top: 4%;
}

#test3 #testfoto3{
	width: 55%;
	height: 400px;
	background-color: gold;
	float: left;
	//margin-top: 5%;

}
#testfoto3 img{
	width: 100%;
	height: 100%;
}
#test3 #testword3{
	width: 40%;
	height:300px;
	//background-color: pink;
	float: right;
	margin-top: 5%;

}
#testword3 h1{
	color: tomato;
	font-size: 28px;
	font-style: italic;
	text-align: left;
	padding-bottom: 5%;
}
#testword3 span{
	font-family: tahoma;
	font-size: 24px;
	color: lightgreen;
	padding-left: 8%;

}
#testword3 p{
	font-size: 22px;
	color: grey;
	font-family: tahoma;
	line-height: 40px;
	padding-left: 8%;
}
#testword3 #xett3{
	width: 20%;
	height: 30px;
	//background-color: blue;
	margin-top:5%;
}
#xett3 hr{
	border: 1px solid red;
	}
#testword3 button{
	padding: 2.5%;
	padding-left: 4%;
	padding-right: 4%;
	color: #fff;
	background-color: #000;
	border: none;
	cursor: pointer;
	transition-duration:0.7s;
}

#testword3 button:hover{
    background-color: #66ff33;	
}

aside{
	width: 100%;
	height: 350px;
	background-color: gold;
}
aside img{
	width: 100%;
	height: 100%;
}
#gallery{
	width: 80%;
	height: 1150px;
	//background-color: #8585ad;
	margin: 0 auto;
}
#gallery{
	font-size: 28px;
	font-style: italic;
	text-align: center;
	padding-top:5%; 
}
#sekil1{
	width: 37%;
	height: 300px;
	background-color: orange;
	float: left;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
	
}

#sekil1 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}

#sekil1 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}
#sekil2{
	width: 30%;
	height: 300px;
	background-color: khaki;
	float: left;
	margin-left: 4%;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
}
#sekil2 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}
#sekil2 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}

#sekil3{
	width: 25%;
	height: 300px;
	background-color: green;
	float: left;
	margin-left: 4%;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
}
#sekil3 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}
#sekil3 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}

#sekil6{
	width: 37%;
	height: 300px;
	background-color: orange;
	float: left;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
}
#sekil6 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}
#sekil4 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}

#sekil5{
	width: 30%;
	height: 300px;
	background-color: khaki;
	float: left;
	margin-right: 4%;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
}
#sekil5 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}
#sekil5 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}
#sekil4{
	width: 25%;
	height: 300px;
	background-color: green;
	float: left;
	margin-right: 4%;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
}
#sekil4 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}
#sekil6 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}

#sekil7{
	width: 48%;
	height: 300px;
	background-color: khaki;
	float: left;
	margin-right: 4%;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
}
#sekil7 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}
#sekil7 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}
#sekil8{
	width: 48%;
	height: 300px;
	background-color: green;
	float: right;
	margin-top: 3%;
	cursor: pointer;
	overflow: hidden;
}
#sekil8 img:hover{
	height: 115%;
	width: 115%;
	overflow: hidden;
}
#sekil8 img{
	width: 100%;
	height: 100%;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}

#team{
	width: 100%;
	height: 550px;
	background-color:#ccffcc;
}

#team #teamorta{
	width: 80%;
	height: 550px;
	background-color: #ccffcc ;
	margin:0 auto;
}
#teamorta h1{
	font-size: 48px;
	font-style: italic;
	text-align: center;
	padding-top: 5%;
}
.personal{
	width: 24%;
	height: 320px;
	background-color: gold;
	margin-top: 5%;
	float: left;
	margin-right: 0.5%;
	margin-left: 0.5%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.personal img{
	width: 100%;
	height: 100%;
	position: relative;
}
.personal .effect{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition:all 0.4s ease-in-out;
}
.personal .effect:hover{
	opacity: 1;
}
.icon{
	width: 100%;
	height: 25%;
	background-color: rgb(102, 102, 51);
	margin-top: 90%;
	transform:scale(0.1);
	transition: all 0.7s ease-in-out;
	opacity: 0;
}
.effect:hover .icon{
	transform:scale(1.0);
	opacity: 1;
}
.icon p{
	font-style: italic;
	font-size: 28px;
	font-weight: bold;
	padding: 6%;

}
.icon .fa{
	font-size: 15px;
	float: left;
	margin-top:-17%;
	margin-left: 60%;
	background-color: #fff;
	padding: 3%;
	border-radius: 50px;
	color: tomato;
	background-color: #fff;
	

}
.icon .twit .fa{
	font-size: 15px;
	float: left;
	margin-top:-17%;
	margin-left: 70%;
	background-color: #fff;
	padding: 3%;
	border-radius: 50px;

}
.icon .go .fa{
	margin-left: 82%;
}
#testimo{
	width: 100%;
	height: 450px;
	//background-color: purple;
}
#testimo #testrgb{
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
}
#testicenter{
	width: 80%;
	height: 450px;
	//background-color: darkgreen;
	margin: 0 auto;
}
#testicenter h1{
	color: #fff;
	font-size: 42px;
	font-style: italic;
	text-align: center;
	padding-top: 5%;
}
#testifoto{
	width: 10%;
	height: 45%;
	//background-color: gray;
	margin-top: 5%;
	float: left;
}
#testifoto h2{
	color: #fff;
	font-style: italic;
	font-size: 22px;
	//background-color: #000;
	position: absolute;
	margin-left: -0.5%;

	
}
#fotomain{
	width: 100%;
	height: 50%;
	background-color: gold;
	margin-left: 0 auto;


}
#fotomain img{
	width: 100%;
	height:100%;
	border-radius: 100px;
	cursor: pointer;

}
#qutu{
	width: 80%;
	height: 35%;
	border: 1px solid #fff;
	//background-color: red;
	float: right;
	margin-top: 5%;
	margin-right: 3%;

}
#qutu p{
	font-size: 22px;
	text-align: center;
	font-style: italic;
	color: #fff;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
#elaqe{
	width: 80%;
	height: 600px;
	//background-color: darkgreen;
	margin: 0 auto
}
#elaqe h1{
	font-style: italic;
	font-size: 48px;
	text-align: center;
	padding-top: 5%;
}
form{
	padding-top: 5%;
}
#elaqe input{
	width: 48%;
	height: 70px;
	border: none;
	border-bottom: 2px solid grey;
}
#elaqe input:focus{
	outline:none;
}
#elaqe textarea{
	width: 96%;
	height: 110px;
	padding-top: 3%;
	border: none;
	border-bottom: 2px solid grey;
	resize:none;
}
#elaqe textarea:focus{
	outline:none;
}
#elaqe button{
	padding: 0.5%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 20px;
	font-family: tahoma;
	color: #80ff00;
	margin-left: 40%;
	margin-top: 3%;
	border: none;
	border-bottom: 2px solid #000;
	background-color: #fff;
	cursor: pointer;
	transition-duration:0.4s;

}
#elaqe button:hover{
 	color: tomato;
}
footer{
	width: 100%;
	height: 500px;
	background-color: #1a1a1a;
}
#end{
	width: 80%;
	height: 500px;
	background-color:#1a1a1a;
	margin:0 auto; 
}
#end .end2{
	width: 32%;
	height:450px;
	//background-color: #262626;
	float: left;
	margin-right: 0.5%;
	margin-left:0.5%;

}
.end2 h1{
	text-align: center;
	font-style: italic;
	color: #fff;
	padding-top: 10%;
}
.end2 p{
	font-variant: tahoma;
	font-size: 20px;
	text-align: left;
	color:gray;
	margin-top: 5%;
}
.end2 .fa{
	color: #fff;
	background-color: #006699;
	padding: 3%;
	border-radius: 30px;
	font-size: 16px;
	margin-top: 5%;
}
.ff{
	width: 100%;
	height: 25%;
	//background-color: gold;
	margin-bottom: 0.5%;
	padding-top: 3%;
}
.ffoto{
	width: 30%;
	height: 80%;
	background-color: red;
	float: left;
}
.ffoto img{
	width: 100%;
	height:100%;
}
.ffyazi{
	width: 65%;
	height:80%;
	//background-color: green;
	float: right;
}
.ffyazi a{
	text-decoration: none;
	color: #fff;
	font-style: italic;
	font-size: 24px;
	transition-duration:0.4s;
}
.ffyazi a:hover{
	color: tomato;
}
.ffyazi p{
	font-family: tahoma;

}
.address{
	width: 100%;
	height: 25%;
	//background-color: gold;
	margin-bottom: 0.5%;
	padding-top: 3%;
}
.address h2{
	color: #fff;
	font-size: 28px;

}
#son{
	width: 100%;
	height:70px;
	background-color: #000;
}
#son p{
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding-top: 1.5%;
}